@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.react-datepicker-wrapper {
  width: 162px;
  
}



@theme{
  --breakpoint-400: 450px;
  --breakpoint-300: 300px;
  --breakpoint-900: 900px;
  --font-roboto: "Roboto", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}
  


body {
  background: #E5E5E5;
}