@import "tailwindcss";
.react-datepicker-wrapper {
  width: 150px;
}

.react-datepicker__input-container input {
  padding: 8px 32px 8px 8px;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
  font-size: 14px;
  color: #101828;
}

.calendar-icon {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}